<html>
        <body>
                <h3>Сотрудник: {{ staff.surname }} {{ staff.name }}</h3>
                <table>
                        <thead>
                                <tr>
                                        <th>Фамилия</th>
                                        <th>Имя</th>
                                        <th>Отчество</th>
                                        <th>ИНН</th>
                                        <th>Должность</th>
                                        <th>Иждивенцы</th>
                                        <th>Дополнения</th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr class="row">
                                        <td>{{ staff.surname }}</td>
                                        <td>{{ staff.name }}</td>
                                        <td>{{ staff.patronimic }}</td>
                                        <td>{{ staff.ITN }}</td>
                                        <td>{{ staff.post }}</td>
                                        <td>{{ staff.dependents }}</td>
                                        <td>{{ staff.description }}</td>
                                </tr>
                        </tbody>
                </table>
        </body>
</html>




   